
@{
    ViewBag.Title = "Invalid City Error";
}

<h2>Invalid City Error</h2>
<br />
<h3>The city was not found in the database. Please try again.</h3>
<h1><i class="fa fa-warning"></i></h1>

