@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Alex's Fitness Club</h1>
    <p> Come join our awesome team!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Join?</h2>
        <p>
          Get access to classes, food planning, and world class coaches!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get motivated</h2>
        <p>We help you every step of the way! Set daily, weekly, monthly, and long-term goals!</p>
    </div>
    <div class="col-md-4">
        <h2>Share your success</h2>
        <p>Hit your goals to become one of the our health coaches. If you achieve your goals, you can become a health coach!</p>
    </div>
</div>