@{
  ViewBag.Title = "About";
}
<h2>@ViewBag.Title Shirts Off Your Back</h2>
<br />
<h3>Who we are</h3>
<p>Shirts off your back is nonprofit organization based in Orem, UT. Our mission is to provide a new or gently used dress shirts to those in our community who may be in economic distress. These are especially useful for those who are in need of clothes for employment interviews and employment attire.</p>
<br />
<h3>How to contribute</h3>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="~/Content/Images/shirts.jpg" alt="shirts on hangers">
      <div class="caption">
        <h3>Local drop-off</h3>
        <p>Do you have new or gently used shirts you could spare? Drop them off with one of our local partners and they will take care of the rest.</p>
        <p><a href="~/Locations" class="btn btn-primary" role="button">Find a drop-off location &raquo;</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="~/Content/Images/shipping_boxes.jpg" alt="Cardboard Boxes" class="img-responsive">
      <div class="caption">
        <h3>Shipping on us</h3>
        <p>Don't live near a drop-off location? We will provide a prepaid shippping label that you can use to ship your shirts directly to our warehouse.</p>
        <p><a href="~/Shipments/Ship2Us" class="btn btn-primary" role="button">Send us Shirts &raquo;</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="~/Content/Images/charitable-contributions.png" alt="Donations Box">
      <div class="caption">
        <h3>Cash donation</h3>
        <p>Don't have a shirt to donate? We accept cash donations! Donations will be used to purchase new shirts for those in need.</p>
        <p><a href="~/Donations/Donate" class="btn btn-primary" role="button">Donate today &raquo;</a></p>
      </div>
    </div>
  </div>
</div>