@{
  ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
  800 W University Pkway<br />
  Orem, UT 84058<br />
  <abbr title="Phone Number">Phone:</abbr>
  801.863.4636<br />
  <abbr title="Hours of Operation">Hours:</abbr>
  10a.m.-6p.m.
</address>

<address>
  <strong>Support:</strong>   <a href="Support@yourshirt.com">Support@yourshirt.com.com</a><br />
</address>