@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UV Rent a Car</h1>
    <p class="lead">The only place you want to go.</p>
    <p><a href="~/CarRental" class="btn btn-primary btn-lg">Rent a Car &raquo;</a></p>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <p><i class="fa fa-building fa-5x"></i></p>
        <h2>Select a City</h2>
        <p>Where do you want to pick up the car?</p>
    </div>
    <div class="col-md-4 text-center">
        <p><i class="fa fa-5x fa-car"></i></p>
        <h2>Choose a car</h2>
        <p>What car do you want?</p>
    </div>
    <div class="col-md-4 text-center">
      <p><i class="fa fa-exchange fa-5x"></i></p>
      <h2>Enjoy the Ride!</h2>
      <p>Go anywhere you want to go!</p>

    </div>
</div>